listen_port={{ ftp_port }}
max_clients=8
max_per_ip=8
pasv_enable=YES
pasv_min_port={{ pasv_port_range | split('-') | first }}
pasv_max_port={{ pasv_port_range | split('-') | last }}
port_enable=YES
pasv_address={{ ansible_public_ipv4 }}
pasv_addr_resolve=NO
reverse_lookup_enable=NO
anonymous_enable=NO
local_enable=YES
local_root=/home/{{ ansible_user }}/site
write_enable=YES
local_umask=022
dirmessage_enable=NO
xferlog_enable=NO
xferlog_std_format=NO
log_ftp_protocol=YES
dual_log_enable=YES
xferlog_file=/dev/null
vsftpd_log_file=/var/log/vsftpd.log
idle_session_timeout=60
data_connection_timeout=120
nopriv_user={{ ansible_user }}
ftpd_banner=Welcome to {{ ansible_public_ipv4 }}.
chroot_local_user=YES
allow_writeable_chroot=YES
listen=YES
listen_ipv6=NO
pam_service_name=vsftpd
userlist_enable=YES
ssl_enable=YES
debug_ssl=NO
force_local_data_ssl=YES
force_local_logins_ssl=YES
rsa_cert_file=/etc/ssl/private/vsftpd.pem
rsa_private_key_file=/etc/ssl/private/vsftpd.key
ssl_tlsv1_2=YES
ssl_tlsv1=NO
ssl_sslv2=NO
ssl_sslv3=NO
require_ssl_reuse=NO
ssl_ciphers=MEDIUM
