// {{ ansible_managed }}
"use strict";
module.exports = {
  apiKey: "{{ cross_seed_api_key }}",
  torznab: [],
  sonarr: [],
  radarr: [],
  host: "127.0.0.1",
  port: 2468,
  notificationWebhookUrls: [],
  torrentClients: [
    "rtorrent:http://{{ ansible_user }}:{{ htpasswd }}@127.0.0.1/plugins/httprpc/action.php",
  ],
  useClientTorrents: true,
  delay: 30,
  dataDirs: [],
  linkCategory: "cross-seed-link",
  linkDirs: [],
  linkType: "hardlink",
  flatLinking: false,
  matchMode: "strict",
  skipRecheck: true,
  autoResumeMaxDownload: 0,
  ignoreNonRelevantFilesToResume: false,
  maxDataDepth: 2,
  torrentDir: null,
  outputDir: null,
  includeSingleEpisodes: false,
  includeNonVideos: true,
  seasonFromEpisodes: null,
  fuzzySizeThreshold: 0.02,
  excludeOlder: "2 weeks",
  excludeRecentSearch: "3 days",
  action: "inject",
  duplicateCategories: false,
  rssCadence: null,
  searchCadence: "1 day",
  snatchTimeout: "30 seconds",
  searchTimeout: "2 minutes",
  searchLimit: 400,
  blockList: [],
};
//# sourceMappingURL=config.template.cjs.map
