<?php
  // {{ ansible_managed }}

  $httpUserAgent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36';
  $httpTimeOut = 30;
  $httpUseGzip = true;
  $httpIP = null;
  $httpProxy = array
  (
    'use' => false,
    'proto' => 'http',
    'host' => 'PROXY_HOST_HERE',
    'port' => 3128
  );
  $rpcTimeOut = 5;
  $rpcLogCalls = false;
  $rpcLogFaults = false;
  $phpUseGzip = false;
  $phpGzipLevel = 2;
  $schedule_rand = 5;
  $do_diagnostic = false;
  $al_diagnostic = false;
  $saveUploadedTorrents = false;
  $overwriteUploadedTorrents = false;
  $topDirectory = '/home/{{ ansible_user }}/site/';
  $forbidUserSettings = false;
  $scgi_port = 0;
  $scgi_host = "unix:///home/{{ ansible_user }}/.session/rpc.socket";
  $XMLRPCMountPoint = "/RPC2";
  $throttleMaxSpeed = 327625*1024;
  $pathToExternals = array(
    "php" => '',
    "curl" => '',
    "gzip" => '',
    "id" => '',
    "stat" => '',
    "python" => '',
  );
  $localHostedMode = true;
  $cachedPluginLoading = false;
  $pluginMinification = true;
  $localhosts = array(
    "127.0.0.1",
    "localhost",
  );
  $profilePath = '../../share';
  $profileMask = 0777;
  $tempDirectory = null;
  $canUseXSendFile = false;
  $locale = "UTF8";
  $enableCSRFCheck = false;
  $enabledOrigins = array();
