[Unit]
Description=rTorrent Service
Requires=network.target local-fs.target

[Service]
ExecStart=/usr/bin/tmux -2 new-session -s rt -n rtorrent -d /usr/local/bin/rtorrent
ExecStop=/usr/bin/tmux send-keys -t rt:rtorrent C-q
RemainAfterExit=yes
Restart=on-failure
Type=forking
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}

[Install]
WantedBy=multi-user.target
