check_hash=no
dht.mode.set=disable
directory=~/site/
download_rate=0
max_memory_usage=3067461632
max_peers_seed=-1
max_uploads=999
min_peers_seed=-1
method.set=group.seeding.ratio.command,d.close=
network.http.ssl_verify_host.set=0
network.http.ssl_verify_peer.set=0
network.max_open_files=128
network.port_random.set=no
network.port_range.set={{ rtorrent_port }}-{{ rtorrent_port }}
protocol.encryption.set=allow_incoming,try_outgoing,enable_retry,prefer_plaintext
protocol.pex.set=no
ratio.enable=
ratio.max.set=400
ratio.min.set=300
ratio.upload.set=100M
schedule2=untied_directory,1,2,remove_untied=
schedule2=watch_directory_1,7,7,"load.start=~/site/.WatchAPPZ/*.torrent,d.directory.set=~/site/APPZ/"
schedule2=watch_directory_2,7,7,"load.start=~/site/.WatchGAMES/*.torrent,d.directory.set=~/site/GAMES/"
schedule2=watch_directory_3,7,7,"load.start=~/site/.WatchMISC/*.torrent,d.directory.set=~/site/MISC/"
schedule2=watch_directory_4,7,7,"load.start=~/site/.WatchMP3/*.torrent,d.directory.set=~/site/MP3/"
schedule2=watch_directory_5,7,7,"load.start=~/site/.WatchTV-HD/*.torrent,d.directory.set=~/site/TV-HD/"
schedule2=watch_directory_6,7,7,"load.start=~/site/.WatchTV-SD/*.torrent,d.directory.set=~/site/TV-SD/"
schedule2=watch_directory_7,7,7,"load.start=~/site/.WatchMOVIES-SD/*.torrent,d.directory.set=~/site/MOVIES-SD/"
schedule2=watch_directory_8,7,7,"load.start=~/site/.WatchMOVIES-HD/*.torrent,d.directory.set=~/site/MOVIES-HD/"
schedule2=watch_directory_9,7,7,"load.start=~/site/.WatchXXX/*.torrent,d.directory.set=~/site/XXX/"
session.path.set=~/.Session/
system.umask.set=0000
system.daemon.set=false
network.scgi.open_local=(cat,(session.path),rpc.socket)
execute.nothrow=chmod,777,(cat,(session.path),rpc.socket)
trackers.use_udp.set=yes
upload_rate=0
