# {{ ansible_managed }}
auth.backend = "htpasswd"
auth.backend.htpasswd.userfile = "{{ rutorrent_path }}/.htpasswd"
auth.require = ( "/" =>
  (
    "method"  => "basic",
    "realm"   => "Restricted Access",
    "require" => "user={{ ansible_user }}"
  ),
)
