# {{ ansible_managed }}
var.server_root = "{{ rutorrent_path }}"
var.state_dir = "/run/lighttpd"
var.home_dir = "/var/lib/lighttpd"
var.conf_dir = "/etc/lighttpd"
var.vhosts_dir = server_root + "/vhosts"
var.cache_dir = "/var/cache/lighttpd"
var.socket_dir = state_dir + "/sockets"
include "modules.conf"
server.bind = "0.0.0.0"
server.port = {{ https_port }}
server.username = "lighttpd"
server.groupname = "lighttpd"
server.document-root = server_root
server.pid-file = state_dir + "/lighttpd.pid"
server.errorlog-use-syslog = "enable"
accesslog.use-syslog = "enable"
server.event-handler = "linux-sysepoll"
server.network-backend = "sendfile"
server.stat-cache-engine = "simple"
server.stream-response-body = 1
server.max-connections = 1024
ssl.engine = "enable"
ssl.privkey = "/etc/ssl/private/vsftpd.key"
ssl.pemfile = "/etc/ssl/private/vsftpd.pem"
$SERVER["socket"] == ":80" {
    ssl.engine = "disable"
    $HTTP["remoteip"] == "127.0.0.1" {
    }
    else {
        url.redirect = ("^/(.*)" => "https://%0/$1")
    }
}
$SERVER["socket"] == "[::]:80" {
    ssl.engine = "disable"
    $HTTP["remoteip"] == "::1" {
    }
    else {
        url.redirect = ("^/(.*)" => "https://%0/$1")
    }
}
index-file.names += (
  "index.xhtml", "index.html", "index.htm", "default.htm", "index.php"
)
url.access-deny = ( "~", ".inc" )
$HTTP["url"] =~ "\.pdf$" {
  server.range-requests = "disable"
}
static-file.exclude-extensions = ( ".php", ".pl", ".fcgi", ".scgi" )
include "conf.d/mime.conf"
include "conf.d/dirlisting.conf"
server.follow-symlink = "enable"
server.upload-dirs = ( "/var/tmp" )
