module rutorrent 1.0;

require {
  type httpd_t;
  type httpd_sys_content_t;
  type initrc_t;
  type http_port_t;
  type user_home_t;
  class sock_file write;
  class unix_stream_socket connectto;
  class tcp_socket name_connect;
  class dir { read write add_name remove_name setattr };
  class file { append create setattr unlink rename write };
}

#============= httpd_t ==============
allow httpd_t http_port_t:tcp_socket name_connect;
allow httpd_t user_home_t:sock_file write;
allow httpd_t initrc_t:unix_stream_socket connectto;
allow httpd_t user_home_t:dir read;
allow httpd_t httpd_sys_content_t:dir { add_name remove_name setattr write };
allow httpd_t httpd_sys_content_t:file { append create setattr unlink rename write };
