module tmux 1.0;

require {
  type init_t;
  type screen_exec_t;
  type tmp_t;
  type ptmx_t;
  type devpts_t;
  class file { execute execute_no_trans open read map };
  class sock_file { create unlink write setattr };
  class chr_file { open read write ioctl };
}

#============= init_t ==============
allow init_t screen_exec_t:file { execute execute_no_trans open read map };
allow init_t tmp_t:sock_file { create unlink write setattr };
allow init_t ptmx_t:chr_file { open read write ioctl };
allow init_t devpts_t:chr_file open;
